/* Regole generali */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* Sezione main */

main {
  display: flex;
  background:#141922;
}

/* Section */

section {
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Sezione Aside */

.aside {
  display: flex;
  flex-direction: column;
  background:#000000;
  min-height: 100%;
  width: 200px;
  padding-left: 10px;
  color:white;
  justify-content:flex-start;
}

.logo {
  margin:15px 0 20px 0;
}

.logo img {
  width: 70%;
}

.aside div {
  max-width: 80%;
  max-height: 50px;
}

.aside h3 {
  margin:20px 0 0 0;
}
.icon, .playlist{
  display: flex;
  align-items: center;
  margin:5px 0;
}

/* sezione icone */

.icon img {
  max-width: 20px;
  margin-right: 5px;
}

.icon h3 {
  font-size: 15px;
}

/* playlist */

.playlist {
  margin-top: 10px;
}

.playlist i {
  font-size: 40px;
  color:lightgrey;
  margin-right: 10px;
}

/* liste */

.liste {
  display: flex;
  flex-wrap:wrap;
  margin-top: 10px;
}

.liste a {
  text-decoration: none;
  color:lightgrey;
  margin:5px 0;
}


/* Sezione Header */

.header {
  display:flex;
  min-height: 80px;
  background: #080b12;
  justify-content: flex-end;
  align-items: center;
}

.upgrade h4 {
  color:#ccc;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 10px;
}

/* Sezione scroll */

/* debug */
h1 {
  font-size: 50px;
  color:#ccc;
}
/* fine debug */

/* Sezione footer */

.footer {
  display: flex;
  min-height: 80px;
  background:#282828;
}
