/* Regole generali */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}

/* Sezione main */

main {
  display: flex;
  background:#141922;
  height: calc(100vh - 80px);
}

/* Section */

section {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Sezione Aside */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
}

aside > hr {
  width: 90%;
  margin:auto;
}

.aside {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 10px;
  color:white;
  justify-content: flex-start;
}

.logo {
  margin:15px 0 20px 0;
}

.logo img {
  width: 70%;
}

.aside div {
  max-width: 80%;

}

.aside h5 {
  margin:20px 0 0 0;
}
.icon, .playlist,.install,.user{
  display: flex;
  align-items: center;
  margin:5px 0;
}

/* sezione icone */

.icon img {
  max-width: 15px;
  margin-right: 5px;
}

.icon h3 {
  font-size: 5px;
}

/* playlist */

.playlist {
  margin-top: 10px;
}

.playlist i {
  font-size: 30px;
  color:lightgrey;
  margin-right: 10px;
}

/* liste */

.liste {
  display: flex;
  flex-wrap:wrap;
  margin-top: 10px;
  overflow-y: auto;
}

.liste a {
  text-decoration: none;
  color:lightgrey;
  margin:5px 0;
  font-size: 14px;
}

/* install */

.install {
  align-self: flex-start;
  justify-content: flex-end;
  margin-left: 10px;
}

.install img {
  width: 20px;
  margin-right: 10px;
}

/* user */
.user {
  align-self: flex-start;
  justify-content: flex-end;
  margin:10px 0 10px 10px
}

.user img {
  width: 20px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 100%;
  background-color: grey;
}


/* Sezione Header */

.header {
  display:flex;
  min-height: 80px;
  background: #080b12;
  justify-content: flex-end;
  align-items: center;
}

.upgrade h6 {
  color:#ccc;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px 50px;
  font-size: 10px;
}

/* Sezione scroll */

/* debug */
h1 {
  font-size: 50px;
  color:#ccc;
}
/* fine debug */

/* Sezione footer */

 footer {
  min-height: 80px;
  background:#282828;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 900;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sezione artist */
.artist img {
  width: 40px;
}
