/* Regole generali */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* Sezione main */

main {
  display: flex;
  background:#141922;
}

/* Section */

section {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Sezione Aside */

.aside {
  background:#000000;
  min-height: 100%;
  width: 250px;
}

/* Sezione Header */

.header {
  display:flex;
  min-height: 100px;
  background: #080b12;
  justify-content: flex-end;
  align-items: center;
}

.upgrade {
  color:#ccc;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
}

/* Sezione scroll */

/* debug */
h1 {
  font-size: 50px;
  color:#ccc;
}
/* fine debug */

/* Sezione footer */

.footer {
  display: flex;
  min-height: 100px;
  background:#282828;
}
